<div data-role="header">
    <h1>备注详情</h1>
    <a href="#/customers_list" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>
   
</div>
<!-- /header -->

<div role="main" class="ui-content jqm-content jqm-fullwidth" id="customer_remark">
    <form>       
        <div class="head_title">备注</div>
        <div class="content-view mod_common_list js-remark-list" data-role="listview">
            <div class="ui-field-contain js-item">
                 <p for="text-12" class="updated_date">12:16<br>
                                    14/12/16</p>
                <p class="msg" for="text-30" ><a href="javascript:;" class="js-image-sample ui-link"><img class="popphoto" src="http://1db.com.my/UploadFiles/895/pic_e/2014-11-10/thumb_600_340_54603f57a6a75.jpg"></a>
                </p>
            </div>     
            <div class="ui-field-contain js-item">
                 <p for="text-12" class="updated_date">12:16<br>
                                    14/12/16</p>
                <p class="msg" for="text-30" >kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                </p>
            </div>
                
          </div> 
    </form>
</div>
<!-- /content -->