<div data-role="header">
    <h1>备注详情</h1>
    <a href="javascript: history.go(-1);" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>
   
</div>
<!-- /header -->

<div role="main" class="ui-content jqm-content jqm-fullwidth" id="customer_remark">
    <form>       
        <div class="head_title">备注</div>
       <div class="content-view mod_common_list js-remark-list" data-role="listview">
            <div class="ui-field-contain js-item" style="display:none">
                 <p for="text-12" class="updated_date">12:16<br>
                                    14/12/16</p>
                <p class="msg" for="text-30" >
                </p>
            </div>     
            <div class="ui-field-contain js-image" style="display:none">
                 <p for="text-12" class="updated_date">12:16<br>
                                    14/12/16</p>
                <p class="msg" for="text-30" >
                    <a href="javascript:;" class="js-image-sample ui-link photo"><img class="swipe popphoto" src=""></a>
                </p>
            </div> 
          </div> 
    </form>
</div>
