<div data-role="header" class="mod-list-header">
    <h1>消息管理</h1>
    <a href="/frontend/travel/index?__view=my" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>

</div>
<!-- /header -->
<div role="main" class="mod-common-list m-t-10" id="chat_list">
    <ul class="ui-nodisc-icon" id="listDiv" data-role="listview">
       
    </ul>
    <!--<div  class="more-text">
       <a href="#">加载更多...</a>
    </div>-->
</div>
<div class="empty">		
	<div class="empty-text">
		<p>还没有任何联系人</p>
	</div>
</div>