<div class="table-light">
    

<table class="table table-hover  table-bordered table-striped">
    <colgroup>
        <col>
        <col class="t-col-12">
    </colgroup>
    <thead>
        <tr>
            <th data-column-id="classname">分类名称</th>
            <th data-column-id="commands" data-formatter="commands" data-sortable="false">操作</th>
        </tr>
    </thead>
    <!-- 
    <tbody>
        <tr>
            <td class="text-left"><label class="px-single"><input type="checkbox" class="px" name="delete[626]" value="626"><span class="lbl"> </span></label></td>
            <td>七星路门店</td>
            <td>上海</td>
            <td>普陀</td>
            <td>七星路112号</td>
            <td>
                <a class="text-danger _delete"  id="ui-bootbox-confirm"><i class="fa fa-times"></i> 删除</a> |  
                <a data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i> 编辑</a>
            </td>
        </tr>
       
       
    </tbody> -->
</table>

</div>

