<!-- 列表内容 -->


			
			<div class="table-scrollable">
				<table class="table table-hover  table-bordered table-striped table-light">
                <thead>
                    <tr> 
                        <!-- 暂时注释 2014-12-17
                        <th scope="col" data-column-id="classname">
                            分类
                        </th>-->
                        <th scope="col" data-column-id="username">
                            客户所属
                        </th>
                        <% $.each(columnlist, function(k1, col1) { %>
                        <th scope="col" data-column-id="<%="_"+col1.tc_id %>">
                            <%= col1.fieldname %>
                        </th> 
                       <% }) %>

                    </tr>
                </thead>

            </table>

			</div>


<!-- 列表内容结束 -->