<!--设置属性弹窗-->
<div class="modal-content">
    <div class="modal-header contacts-img">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">编辑自定义字段</h4>
    </div>

    <form name="form_member_fields" >
        <div class="props-content">
            <div>
                <div>
                    <label>
                        <span>字段名称</span>
                        <input type="text" name=""maxlength="8" placeholder="最多输入8个汉字"/>
                        <a class=" btn btn-danger danger-padding">删除</a>
                    </label>
                </div>
                <div>
                    <label>
                        <span>字段名称</span>
                        <input type="text" name=""maxlength="8" placeholder="最多输入8个汉字"/>
                        <a class="btn btn-danger danger-padding">删除</a>
                    </label>
                </div>
                <div>
                    <label>
                        <a class="btn btn-info">添加字段</a>
                    </label>
                </div>

            </div>
            <div class="props-foot-right tag-clear">
                <button type="submit" name="btn_submit" class="btn btn-info">确认</button>
            </div>
        </div>

    </form>
</div>