<div data-role="header" data-position="fixed" data-theme="a" id="customers_list_head">
    <!-- <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
    -->
    <h1 class="ui-title" role="heading" aria-level="1">联系人</h1>
    <span  id="js_btn_customer_add" data-role="button" class="ui-btn js-btn-add ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-icon-carat-l ui-mini">取消</span>

    <span  id="js_btn_customer_add" data-role="button" class="ui-btn js-btn-add ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-icon-carat-l ui-mini">完成</span>
</div>
<nav class="mod_list_nav nav_three">
    <a href="#/favorites" class="current">常用</a>
    <a href="#/contacts">同事</a>
    <a href="#/groups">部门</a>
</nav>

<div role="main" class="mod-common-list">
    <h4>快捷</h4>
    <ul data-role="listview" class="radio-contral" >
        <li >
            <label>
                <input type="radio" name="radio-0 ">               
                <h3>全公司</h3>                
            </label>
        </li>
        <li >
            <label>
                <input type="radio" name="radio-0 ">
               
                <h3>我所在部门</h3>
                
            </label>
        </li>        
    </ul>
    <h4>常用联系人<small>(请在通讯录应用中管理常用联系人)</small></h4>
    <ul data-role="listview" class="checkbox-contral" >
        <li >
            <label>
                <input type="checkbox" name="checkbox-0 ">
                <img src="http://demos.jquerymobile.com/1.4.5/_assets/img/album-bb.jpg" class="thumbnail">
                <h3>cdam Kinkaid</h3>
                <p>Hot Chip</p>
            </label>
        </li>
        <li >
            <label>
                <input type="checkbox" name="checkbox-0 ">
                <img src="http://demos.jquerymobile.com/1.4.5/_assets/img/album-bb.jpg" class="thumbnail">
                <h3>Adgg Kinkaid</h3>
                <p>Hot Chip</p>
            </label>
        </li>
        <li >
            <label>
                <input type="checkbox" name="checkbox-0 ">
                <img src="http://demos.jquerymobile.com/1.4.5/_assets/img/album-bb.jpg" class="thumbnail">
                <h3>Adrr Kinkaid</h3>
                <p>Hot Chip</p>
            </label>
        </li>
        <li >
            <label>
                <input type="checkbox" name="checkbox-0 ">
                <img src="http://demos.jquerymobile.com/1.4.5/_assets/img/album-hc.jpg" class="thumbnail">
                <h3>刘德华</h3>
                <p>Hot Chip</p>
            </label>
        </li>
    </ul>
</div>