<div data-role="header" data-position="fixed" data-theme="a" id="customers_list_head">
    <!-- <div data-role="header" role="banner" class="ui-header ui-bar-inherit">
    -->
    <h1 class="ui-title" role="heading" aria-level="1">联系人</h1>
    <span  id="js_btn_customer_add" data-role="button" class="ui-btn js-btn-add ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-icon-carat-l ui-mini">取消</span>

    <span  id="js_btn_customer_add" data-role="button" class="ui-btn js-btn-add ui-btn-right ui-alt-icon ui-nodisc-icon ui-corner-all ui-icon-carat-l ui-mini">完成</span>
</div>
<nav class="mod_list_nav nav_three">
    <a href="#/favorites">常用</a>
    <a href="#/contacts">同事</a>
    <a href="#/groups" class="current">部门</a>
</nav>
<div class="contacts-search-box clearfix">
    <div class="mod_photo_uploader">
        <div class="photo-scrollable">           
            <span>技术部门一</span>
            <span>部门一</span>
            <span>部门一</span>
            <span>部门一</span>
            <span>部门一</span>
            <span>部门一</span>
            <span>部门一</span>
            <span>部门一</span>
        </div>
    </div> 
<div  class="search-contacts">
    <input type="search" name="" id="search" value="" placeholder="搜索部门" data-role="none">  
</div>
</div>

<ul data-role="listview" class="checkbox-contral  Single">
<li data-filtertext="A">
<label>
    <input type="checkbox" name="checkbox-0 ">
   
    <h3>cdam Kinkaid</h3>
    
</label>
</li>
<li data-filtertext="A">
<label>
    <input type="checkbox" name="checkbox-0 ">
 
    <h3>Adgg Kinkaid</h3>
    
</label>
</li>
<li data-filtertext="A">
<label>
    <input type="checkbox" name="checkbox-0 ">
   
    <h3>Adrr Kinkaid</h3>
    
</label>
</li>
<li data-filtertext="LDH">
<label>
    <input type="checkbox" name="checkbox-0 ">
    
    <h3>刘德华</h3>
 
</label>
</li>
</ul>