/*! MOA.common.css@html - v0.0.0 - 2014-07-11 */
#addressbook_list {
  background: #F7F7FC;
  *overflow: hidden;
  *position: relative;
}
#addressbook_list .overview {
  *overflow: hidden;
}
#addressbook_list h1,
#announcement_list h1,
#checkin_menu h1,
#settings_menu h1 {
  background: #5C718E;
  font-size: 24px;
  line-height: 78px;
  text-indent: 20px;
  padding-top: 12px;
  color: #99B1D4;
  text-align: left;
}
#addressbook_list .sch {
  height: 66px;
  border-bottom: 1px solid #dce3e6;
  border-right: 1px solid #C1D1DC;
  *position: relative;
}
#addressbook_list .sch .area {
  border: 1px solid #d8dce5;
  width: 278px;
  height: 33px;
  display: inline-block;
  float: left;
  *display: inline;
  margin: 16px 0 0 10px;
  background: #FFF;
  position: relative;
}
#addressbook_list .sch .area input {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 230px;
  height: 20px;
  border: none;
}
#addressbook_list .sch .area .btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 32px;
  background: url('../img/icons.png') no-repeat -238px 6px;
  display: inline-block;
  text-indent: -9999px;
}
#addressbook_list .listContainer {
  border-right: 1px solid #C1D1DC;
}
#addressbook_list .listContainer dl {
  text-align: left;
  padding-bottom: 30px;
}
#addressbook_list .listContainer dl dt {
  background: #F2F3F7;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E3E3E3;
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}
#addressbook_list .listContainer dl dt i {
  width: 14px;
  height: 14px;
  display: inline-block;
  float: left;
  background: url('../img/icons.png') no-repeat -346px 0;
  margin: 17px 20px 0 10px;
}
#addressbook_list .listContainer dl dt i.opened {
  background-position: -300px 3px;
}
#addressbook_list .listContainer dl dt span {
  color: #A0ACB2;
  font-size: 12px;
  display: inline-block;
  float: right;
  margin: 0 15px 0 0;
  *margin-top: -48px;
}
#addressbook_list .listContainer dl dd ul {
  border-top: none;
  border-bottom: 1px solid #E3E3E3;
}
#addressbook_list .listContainer dl dd ul li b {
  color: #0099ff;
  width: 100px;
  display: inline-block;
  white-space: nowrap;
  margin-left: 9px;
  font-weight: normal;
}
#addressbook_list .listContainer dl dd ul li span {
  color: #a5a7c5;
  width: 140px;
  display: inline-block;
  white-space: nowrap;
}
#addressbook_list .listContainer dl dd ul li.current b {
  color: #ff9900;
}
#addressbook_detail,
#settings_profile {
  text-align: left;
  *position: relative;
}
#addressbook_detail .overview,
#settings_profile .overview {
  *overflow: hidden;
}
#addressbook_detail .header,
#settings_profile .header {
  height: 89px;
  border-bottom: 1px solid #DBE7EF;
  background: #F7F7FC;
}
#addressbook_detail .header img,
#settings_profile .header img {
  width: 58px;
  height: 58px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  margin: 17px 0 0 28px;
  display: inline-block;
  float: left;
}
#addressbook_detail .header h1,
#announcement_detail .header h1,
#checkin_daily .header h1,
#settings_profile .header h1,
#checkin_calendar .header h1,
#checkin_complaint .header h1,
#settings_profile .header h1,
#settings_password .header h1 {
  font-size: 24px;
  line-height: 60px;
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
  margin: 21px 0 0 24px;
  color: #5A607D;
}
#addressbook_detail .body,
#settings_profile .body {
  background: #fff;
}
#addressbook_detail .body ul,
#settings_profile .body ul {
  padding: 58px 0 0 28px;
  width: 400px;
}
#addressbook_detail .body ul li,
#settings_profile .body ul li {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  font-size: 14px;
  line-height: 43px;
  height: 43px;
  color: #5A607D;
  margin-bottom: 18px;
}
#addressbook_detail .body ul li i,
#settings_profile .body ul li i {
  display: inline-block;
  float: left;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin: 8px 0 0 28px;
}
#addressbook_detail .body ul li h2,
#settings_profile .body ul li h2 {
  display: inline-block;
  float: left;
  font-size: 14px;
  margin-left: 32px;
}
#addressbook_detail .body ul li span,
#settings_profile .body ul li span {
  display: inline-block;
  float: right;
  margin-right: 38px;
}
#announcement_list {
  background: #F7F7FC;
  *overflow: hidden;
  *position: relative;
}
#announcement_list .overview {
  *overflow: hidden;
}
#announcement_list .listContainer {
  border-right: 1px solid #C1D1DC;
}
#announcement_list .listContainer ul {
  text-align: left;
  padding-bottom: 30px;
}
#announcement_list .listContainer ul li {
  height: 96px;
  padding-left: 50px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E3E3E3;
  position: relative;
}
#announcement_list .listContainer ul li.last {
  border-bottom: none;
}
#announcement_list .listContainer ul li i {
  background: url('../img/icons.png') no-repeat -400px 0;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 22px;
  left: 17px;
}
#announcement_list .listContainer ul li .title {
  display: block;
  font-size: 14px;
  line-height: 36px;
  color: #0099FF;
  padding-top: 15px;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#announcement_list .listContainer ul li p {
  font-size: 12px;
  line-height: 32px;
  color: #ADB6C5;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#announcement_list .listContainer ul li.current .title {
  color: #ff9900;
}
#announcement_detail {
  text-align: left;
}
#announcement_detail .header {
  height: 89px;
  border-bottom: 1px solid #DBE7EF;
  background: #F7F7FC;
}
#announcement_detail .header h1 {
  font-size: 24px;
  line-height: 60px;
}
#announcement_detail .body {
  background: #fff;
  text-align: center;
}
#announcement_detail .body h1 {
  font-size: 18px;
  line-height: 26px;
  padding-top: 55px;
}
#announcement_detail .body h2 {
  color: #ADB6C5;
  font-size: 12px;
  line-height: 25px;
}
#announcement_detail .body .cont {
  text-align: left;
  padding: 22px;
  font-size: 14px;
  line-height: 22px;
}
#checkin_menu,
#settings_menu {
  background: #F7F7FC;
  *overflow: hidden;
  *position: relative;
}
#checkin_menu .overview,
#settings_menu .overview {
  *overflow: hidden;
}
#checkin_menu .listContainer,
#settings_menu .listContainer {
  border-right: 1px solid #C1D1DC;
}
#checkin_menu .listContainer ul,
#settings_menu .listContainer ul {
  text-align: left;
  margin-bottom: 30px;
}
#checkin_menu .listContainer ul li a,
#settings_menu .listContainer ul li a {
  *color: #333333;
}
#checkin_menu .listContainer ul li.current a,
#settings_menu .listContainer ul li.current a {
  color: #ff9900;
}
#checkin_daily {
  text-align: left;
  *position: relative;
}
#checkin_daily .overview {
  *overflow: hidden;
}
#checkin_daily .header,
#checkin_calendar .header,
#checkin_complaint .header,
#settings_profile .header,
#settings_password .header {
  height: 89px;
  border-bottom: 1px solid #DBE7EF;
  background: #F7F7FC;
}
#checkin_daily .header h1,
#checkin_calendar .header h1,
#checkin_complaint .header h1,
#settings_profile .header h1,
#settings_password .header h1 {
  font-size: 24px;
  line-height: 60px;
  width: auto;
}
#checkin_daily .header h2,
#checkin_calendar .header h2,
#checkin_complaint .header h2,
#settings_profile .header h2,
#settings_password .header h2 {
  display: inline-block;
  font-size: 14px;
  line-height: 60px;
  color: #ADB6C5;
  margin: 25px 0 0 15px;
}
#checkin_daily .body {
  background: #fff;
  padding-left: 28px;
  padding-top: 32px;
}
#checkin_daily .body b {
  font-size: 28px;
  line-height: 70px;
  font-weight: normal;
  color: #656A85;
}
#checkin_daily .body b small {
  font-size: 14px;
}
#checkin_daily .body ul {
  width: 400px;
}
#checkin_daily .body ul li {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  color: #5A607D;
  height: 63px;
  margin-bottom: 18px;
}
#checkin_daily .body ul li label {
  display: inline-block;
  float: left;
  width: 92px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  color: #595F7D;
}
#checkin_daily .body ul li label i {
  color: #ADB6C5;
  line-height: 20px;
  display: block;
}
#checkin_daily .body ul li em {
  display: inline-block;
  float: left;
  width: 180px;
  text-align: center;
  font-size: 18px;
  line-height: 63px;
  color: #33CC00;
}
#checkin_daily .body ul li .mod_btn1 {
  display: inline-block;
  float: right;
  width: 83px;
  height: 31px;
  margin: 15px 22px 0 0;
}
#checkin_daily .body ul li div {
  display: inline-block;
  float: right;
  width: 110px;
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-top: 9px;
  color: #595F7D;
}
#checkin_daily .body ul li div p {
  color: #ADB6C5;
  font-size: 12px;
  line-height: 20px;
  display: block;
}
#checkin_calendar {
  text-align: left;
  *position: relative;
}
#checkin_calendar .overview {
  *overflow: hidden;
}
#checkin_calendar .shoulder {
  height: 55px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #DBE7EF;
  background: #F7F7FC;
  color: #656A85;
  font-size: 14px;
  line-height: 55px;
  padding-left: 18px;
  *position: relative;
}
#checkin_calendar .shoulder .y,
#checkin_calendar .shoulder .m {
  padding-top: 7px\0;
  /* ie 8/9 */
  padding-top: 0px\9\0;
  /* ie 9 */
  *padding-top: 15px;
  *margin-right: 18px;
}
#checkin_calendar .shoulder .y,
#checkin_calendar .shoulder .m,
#checkin_calendar .shoulder .searchBtn {
  display: inline-block;
  float: left;
}
#checkin_calendar .shoulder .mod_combox {
  margin-right: 8px;
  margin-left: 10px;
}
#checkin_calendar .shoulder .searchBtn {
  margin-top: 10px;
  margin-left: 5px;
}
#checkin_calendar .body {
  background: #fff;
  padding-left: 28px;
}
#checkin_calendar .body .overview {
  padding-bottom: 50px;
}
#checkin_calendar .body ul.summary {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 400px;
  clear: both;
  height: 55px;
  padding-top: 8px;
  margin-top: 32px;
}
#checkin_calendar .body ul.summary li {
  display: inline-block;
  float: left;
  height: 55px;
  color: #ACB6C5;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
}
#checkin_calendar .body ul.summary em {
  font-size: 18px;
  line-height: 23px;
  display: block;
  color: #5B617D;
}
#checkin_calendar .body table {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 400px;
  margin-top: 20px;
}
#checkin_calendar .body table th,
#checkin_calendar .body table td {
  text-align: center;
  vertical-align: middle;
}
#checkin_calendar .body table th {
  border-bottom: 1px solid #dce3e6;
  font-size: 12px;
  line-height: 53px;
  font-weight: normal;
  color: #ADB6C5;
  width: 57px;
}
#checkin_calendar .body table td {
  height: 53px;
  font-size: 18px;
  color: #ADB6C5;
}
#checkin_calendar .body table td.workday {
  color: #5B617D;
}
#checkin_calendar .body table td i {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
#checkin_calendar .body table td.chidao,
#checkin_calendar .body table td.zaotui {
  background: #FFFF99;
  color: #FF5C26;
  line-height: 22px;
}
#checkin_calendar .body table td.kuanggong {
  background: #FFFF99;
  color: #D90000;
  line-height: 22px;
}
#checkin_calendar .body .complaintBtn {
  display: inline-block;
  float: left;
  margin: 35px 0 0 318px;
}
#checkin_complaint {
  text-align: left;
}
#checkin_complaint .body {
  background: #fff;
}
#checkin_complaint .body .overview {
  padding-bottom: 50px;
}
#checkin_complaint .body .fakeform {
  padding-top: 40px;
  padding-left: 28px;
}
#checkin_complaint .body .fakeform h1,
#checkin_complaint .body .records h1 {
  font-size: 14px;
  line-height: 32px;
  color: #595F7D;
  text-indent: 3px;
  padding-top: 10px;
}
#checkin_complaint .body .fakeform .subject input,
#checkin_complaint .body .fakeform .content textarea {
  width: 374px;
  padding: 10px 12px;
}
#checkin_complaint .body .fakeform .subject input:focus,
#checkin_complaint .body .fakeform .content textarea:focus {
  border-color: #FF9900;
}
#checkin_complaint .body .fakeform .subject input {
  font-size: 12px;
  line-height: 20px;
}
#checkin_complaint .body .fakeform .content textarea {
  font-size: 14px;
  line-height: 40px;
}
#checkin_complaint .body .fakeform .btns {
  padding-top: 21px;
  width: 400px;
  text-align: right;
}
#checkin_complaint .body .fakeform .btns a {
  margin-left: 12px;
}
#checkin_complaint .body .records {
  padding-top: 10px;
}
#checkin_complaint .body .records h1 {
  line-height: 46px;
  border-bottom: 1px solid #DBE7EF;
  text-indent: 31px;
}
#checkin_complaint .body .records table {
  margin-top: 18px;
  margin-left: 28px;
  width: 398px;
}
#checkin_complaint .body .records table td,
#checkin_complaint .body .records table th {
  border-bottom: 1px solid #F0F3FD;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
#checkin_complaint .body .records table tr.last td {
  border-bottom: none;
}
#checkin_complaint .body .records table th {
  height: 46px;
  color: #C0C5CA;
  font-weight: normal;
}
#checkin_complaint .body .records table td {
  height: 34px;
}
/*variables*/
/*functions*/
/*global*/
body,
article,
section,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
dd,
dt,
dl,
textarea,
p,
a,
ul,
ol,
li,
em,
div,
small,
span,
footer,
menu,
canvas,
select,
option,
figure,
figcaption,
time,
input,
fieldset,
legend {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
figure[hidden] {
  display: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: 0 none;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button,
input[type=text],
input[type=search],
input[type=password],
input[type=number],
input[type=url],
input[type=tel],
input[type=email],
input[type=button],
textarea,
.input-clear {
  -webkit-appearance: none;
  background: transparent;
}
input[type=text],
input[type=search],
input[type=password],
input[type=url],
input[type=tel],
input[type=email],
textarea {
  font-size: 14px;
  color: #797979;
}
.placeholder,
*::-webkit-input-placeholder {
  color: #cbcbcb;
  font-size: 14px;
}
textarea {
  resize: none;
  line-height: 22px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
*[hidden] {
  display: none;
}
.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.center {
  width: 1004px;
  margin: 0 auto;
  position: relative;
}
#app_leftmenu {
  padding-top: 90px;
  *padding-top: 0;
  background: #eef1f8 url('../img/logo.jpg') no-repeat 0 0;
  text-align: left;
  position: relative;
}
#app_leftmenu .toIndex {
  display: block;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#app_leftmenu .panel {
  padding-top: 16px;
  *padding-top: 106px;
  border-right: 1px solid #C1D1DC;
  *border: none;
}
#app_leftmenu .panel .user {
  height: 40px;
  margin-left: 32px;
  margin-bottom: 22px;
  *position: relative;
  *margin-bottom: 0;
  *padding-bottom: 22px;
  *padding-top: 16px;
  *margin-top: -16px;
  *border-right: 1px solid #C1D1DC;
}
#app_leftmenu .panel .user img {
  width: 38px;
  height: 38px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #959595;
  margin-right: 9px;
  display: inline-block;
  float: left;
}
#app_leftmenu .panel .user h1 {
  font-size: 16px;
  line-height: 40px;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  float: left;
}
#app_leftmenu .panel .user a.logout {
  color: #0099ff;
  margin-right: 18px;
  font-size: 12px;
  line-height: 40px;
  display: inline-block;
  float: right;
}
#app_leftmenu .panel .menu {
  padding-bottom: 9px;
  *border-right: 1px solid #C1D1DC;
  *position: static;
}
#app_leftmenu .panel .menu h2 {
  font-size: 14px;
  line-height: 34px;
  color: #ADB6C5;
  padding-left: 32px;
  border-bottom: 1px solid #dce3e6;
}
#app_leftmenu .panel .menu ul {
  border-top: 1px solid #fff;
  padding-top: 9px;
  padding-left: 32px;
  padding-right: 9px;
  padding-bottom: 19px;
}
#app_leftmenu .panel .menu ul li {
  font-size: 14px;
  line-height: 38px;
  height: 38px;
  padding-left: 38px;
  overflow: hidden;
}
#app_leftmenu .panel .menu ul li a {
  display: block;
  *color: #333333;
}
#app_leftmenu .panel .menu ul li a.current {
  color: #ff9900;
}
#app_leftmenu .panel .menu ul li a i {
  display: inline-block;
  float: left;
  margin-left: -38px;
  margin-top: 10px;
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
}
#app_leftmenu .panel .menu ul li a .unread {
  width: 21px;
  height: 21px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  background: #fff;
  color: #0099ff;
  font-size: 10px;
  line-height: 21px;
  text-align: center;
  margin-top: 8px;
  *margin-top: -30px;
  display: inline-block;
  float: right;
}
#app_leftmenu .panel .menu .copy {
  margin-top: 20px;
  text-align: center;
  color: #79859A;
  font-size: 12px;
  line-height: 19px;
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  color: #333333;
  background: #4e5359 url('../img/appbg.png') repeat 0 0;
  color: #666;
  font: 14px/1.5 Helvetica, "微软雅黑", "黑体", Arial, Tahoma;
  text-align: center;
  overflow-y: auto;
  padding-top: 9px;
  padding-bottom: 9px;
}
#app_container {
  width: 1004px;
  overflow: hidden;
  margin: 0 auto;
}
#main_col1,
#main_col2,
#main_col3 {
  display: inline-block;
  float: left;
  *overflow: hidden;
}
#main_col1 {
  width: 250px;
}
#main_col2 {
  width: 300px;
}
#main_col3 {
  width: 452px;
}
/*
.footFix{
	width:100%;
	text-align:center;
	position:fixed;
	left:0;
	bottom:0;
	z-index:99;
}
*/
.mod_combox {
  display: inline-block;
  position: relative;
}
.mod_combox select {
  display: inline-block;
  border: 1px solid #d8dce5;
  padding-left: 7px;
  font: inherit;
  outline: none;
  height: 33px;
  line-height: 33px;
  background: #F9FAFB;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .mod_combox select {
    padding-right: 40px;
  }
  .mod_combox::after {
    content: "▼";
    color: #656A85;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    width: 16px;
    height: 33px;
    font-size: 9px;
  }
}
.mod_form_field1 {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
.mod_btn1 {
  display: inline-block;
  background-image: -ms-linear-gradient(top, #6fb8ec, #58a1de);
  background-image: -webkit-linear-gradient(top, #6fb8ec, #58a1de);
  background-image: -moz-linear-gradient(top, #6fb8ec, #58a1de);
  background-image: -o-linear-gradient(top, #6fb8ec, #58a1de);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6fb8ec), to(#58a1de));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6fb8ec, endColorstr=#58a1de);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6fb8ec, endColorstr=#58a1de);
  border: 1px solid #4a8dcf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 2px 2px #86c7f1;
  -moz-box-shadow: inset 0 2px 2px #86c7f1;
  box-shadow: inset 0 2px 2px #86c7f1;
  font-size: 14px;
  line-height: 31px;
  color: #fff;
  text-align: center;
  width: 83px;
  height: 31px;
}
.mod_btn1:hover {
  text-decoration: none;
}
.mod_btn2 {
  display: inline-block;
  background-image: -ms-linear-gradient(top, #f6fafe, #e9ecf1);
  background-image: -webkit-linear-gradient(top, #f6fafe, #e9ecf1);
  background-image: -moz-linear-gradient(top, #f6fafe, #e9ecf1);
  background-image: -o-linear-gradient(top, #f6fafe, #e9ecf1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6fafe), to(#e9ecf1));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6fafe, endColorstr=#e9ecf1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f6fafe, endColorstr=#e9ecf1);
  border: 1px solid #bfc9d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 2px 2px #f6fafe;
  -moz-box-shadow: inset 0 2px 2px #f6fafe;
  box-shadow: inset 0 2px 2px #f6fafe;
  font-size: 14px;
  line-height: 31px;
  color: #595F7D;
  text-align: center;
  width: 83px;
  height: 31px;
}
.mod_btn2:hover {
  text-decoration: none;
}
.plugin_scrollbar {
  position: relative;
}
.plugin_scrollbar .viewport {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.plugin_scrollbar .viewport .overview {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.plugin_scrollbar .scrollbar {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 9px;
  z-index: 2;
}
.plugin_scrollbar .scrollbar .track {
  background: transparent;
  height: 100%;
  width: 9px;
  position: relative;
  padding: 0 0;
}
.plugin_scrollbar .scrollbar .thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: black;
  height: 20px;
  width: 9px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.plugin_scrollbar .scrollbar .thumb .end {
  background: transparent;
  overflow: hidden;
  height: 5px;
  width: 9px;
}
.plugin_scrollbar .disable {
  display: none;
}
.mod_common_list_style,
.mod_common_list {
  border: 1px solid #a9a9a9;
  border-width: 1px 0 1px 0;
  background-color: #fbfbff;
}
.mod_common_list li {
  border-bottom: 1px solid #dce3e6;
  min-height: 55px;
  line-height: 55px;
  margin: 0 0 0 20px;
}
.mod_common_list li.withicon {
  margin: 0 0 0 60px;
  position: relative;
}
.mod_common_list li.withicon .m_icon {
  display: inline-block;
  float: left;
  position: absolute;
  left: -40px;
  top: 18px;
}
.mod_common_list li:last-of-type,
.mod_common_list li.last {
  border: none;
}
.mod_common_list li .m_link {
  display: block;
  height: 55px;
}
.mod_common_list2 {
  border: 1px solid #dce3e6;
  border-width: 1px 0 1px 0;
  background-color: #F2F3F7;
}
.mod_common_list2 li {
  border-bottom: 1px solid #dce3e6;
  min-height: 55px;
  line-height: 55px;
  padding-left: 20px;
}
.mod_common_list2 li:last-of-type,
.mod_common_list2 li.last {
  border: none;
}
.mod_common_list2 li.current,
.mod_common_list2 li.current .m_link {
  color: #ff9900;
}
.mod_common_list2 li .m_link {
  display: block;
  height: 55px;
  background: url('../img/list_arrow1.png') no-repeat 95% 50%;
}
.mod_common_list2 li .m_link.opened {
  background-image: url('../img/list_arrow2.png');
}
#settings_profile .body ul li.faceAndName {
  height: 83px;
}
#settings_profile .body ul li.faceAndName img {
  width: 58px;
  height: 58px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  margin: 11px 0 0 23px;
  display: inline-block;
  float: left;
}
#settings_profile .body ul li.faceAndName h1 {
  font-size: 14px;
  line-height: 83px;
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  float: right;
  margin: 0 35px 0 0;
  color: #595F7D;
  text-align: right;
}
#settings_password .body {
  background: #fff;
  text-align: left;
}
#settings_password .body .overview {
  padding: 50px 0;
  padding-left: 28px;
}
#settings_password .body form p {
  width: 415px;
  height: 45px;
  margin-bottom: 20px;
  position: relative;
}
#settings_password .body form p input {
  background: #F9FAFB;
  border: 1px solid #d8dce5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 340px;
  height: 21px;
  padding: 12px 20px;
}
#settings_password .body form p input:focus {
  border-color: #FF9900;
}
#settings_password .body form p i {
  position: absolute;
  top: 12px;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
  background-position: 9999px 9999px;
}
#settings_password .body form p i.succ {
  background-position: -50px -100px;
}
#settings_password .body form p i.fail {
  background-position: 0 -100px;
}
#settings_password .body form div {
  text-align: right;
  width: 380px;
}
#settings_password .body form div input {
  margin-left: 15px;
  cursor: pointer;
}
