<!--删除标签-->
<div class="dialog_box modal-content">
    <div class="modal-header contacts-img">
        <button type="button" class="close" data-ng-click="$dismiss()">×</button>
        <h4 class="modal-title">删除标签</h4>
    </div>
    <div class="dialog_content js_dialog_content">
        <div class="dialog_tip warning">
            <div class="tip_text">

                <div class="tip_text_title">
                    <img src="/admincp/static/images/warm-y.jpg"/>确认删除该标签？</div>
                <div class="tip_text_detail">只是删除此标签，不会影响标签包含的成员。</div>
            </div>
        </div>
    </div>
    <div class="props-foot-right tag-clear">
        <button type="button" class="btn btn-default" data-ng-click="$dismiss()">取消</button>
        <button type="button" class="btn btn-info" data-ng-click="$close()">确认</button>
    </div>
</div>