<div data-role="header">
    <h1>详情</h1>
    <a href="#/customers_list" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>    <a href="#/customer_edit/5" class="ui-btn-right ui-btn ui-icon-gear ui-btn-icon-left ui-shadow ui-corner-all ui-icon-edit" data-role="button" role="button">编辑</a>
</div>
<!-- /header -->

<div role="main" class="ui-content jqm-content jqm-fullwidth">
<div class="content-view" style="padding:20px;">
<form>
    <div class="ui-field-contain">
         <label for="text-12" style="display:inline-block">姓名:</label>
         <span for="text-30" style="display:inline-block;margin: .5em 2% 0 0;">张大伟</span>
    </div>
    <div class="ui-field-contain">
          <label for="text-12" style="display:inline-block">电话:</label>
         <span for="text-30" style="display:inline-block;margin: .5em 2% 0 0;">0786-611622277</span>
    </div>
    <div class="ui-field-contain">
          <label for="text-12" style="display:inline-block">地址:</label>
         <span for="text-30" style="display:inline-block;margin: .5em 2% 0 0;">上海市普陀区宁夏路112号</span>
    </div>
    <div class="ui-field-contain">
         <label for="text-12" style="display:inline-block">备注:</label>
         <span for="text-30" style="display:inline-block;margin: .5em 2% 0 0;">快点呀</span>
    </div>
    <div class="ui-field-contain">
        <label for="textarea-12">已关注:</label>
         <div data-demo-html="true">
            <a href="#" class="ui-btn ui-btn-inline">吴辉</a>
            <button class="ui-btn ui-btn-inline">张小小</button>
        </div>
    </div>
</form>
</div>
</div>
<!-- /content -->