<div data-role="header" data-position="fixed" data-theme="a" id="customers_list_head">
<!-- <div data-role="header" role="banner" class="ui-header ui-bar-inherit"> -->
	<h1 class="ui-title" role="heading" aria-level="1">客户</h1>
   
    <div class="search-box"><input id="js-search" data-type="search"  type="search" placeholder="搜索"></div>
	
</div>
<!-- /header -->
<div id="customers_list">	
    <a href="#/customer_detail/1" class="ui-btn ui-icon-plus ui-btn-icon-left customers_new">关联新客户
	</a>
    
    <div class="empty_conten">
    <div class="empty_customer">        
    </div>
    <div class="empty_customer_text">您还没有客户哦<br>点击页面右上角“添加”添加客户</div>
    </div>
</div>
<div data-role="popup" id="positionWindow" class="ui-content" data-theme="a">
<p>I am positioned to the window.</p>
</div>

