<div class="header">
	<h1><%= pageName %></h1>
</div>
<div class="body plugin_scrollbar">
	
	<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
	<div class="viewport">
		 <div class="overview">
				
				<!--new 等保留字要特殊处理否则IE6出错-->
				<form>
					<p><input name="old" class="old" placeholder="<%= label.old %>" type="password" required pattern="<%= pattern %>"/><i></i></p>
					<p><input name="new" class="new" placeholder="<%= label['new'] %>" type="password" required pattern="<%= pattern %>"/><i></i></p>
					<p><input name="re" class="re" placeholder="<%= label.re %>" type="password"/><i></i></p>
					<div>
						<input type="reset" class="mod_btn2" value="<%= buttons.cancel.label %>" /><input type="submit" class="mod_btn1" value="<%= buttons.submit.label %>" />
					</div>
				</form>
				
		</div>
	 </div>
		
</div>