 <div data-role="header" class="mod-list-header">
    <h1>我的提成</h1>
    <a href="#/moban" data-rel="back" data-icon="back-icon" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>
    
</div>
 
<div class="mod-common-list" id="workrightOne">
    <ul  data-role="listview">
        <li data-icon="false" class="workrightOneDetail">
                <label class="red">昨日提成:<strong> 18,000 </strong>元</label>
        </li>
    </ul>
</div>


<div role="main" class="mod-common-list" id="workrightTwo">
    
    <ul class="ui-nodisc-icon m-t-10" data-role="listview">
        <li data-icon="false">
                <label class="red">账户总额:</label>
                <p class="right-time">5,000,000 元</p>
        </li>
        <li data-icon="false">
                <label class="red">本月提成:</label>
                <p class="right-time"> 3,000,000 元</p>
        </li>
        <li data-icon="false">
                <label class="red">总 提 成:</label>
                <p class="right-time"> 100,000,000 元</p>
        </li>
    </ul>
    
</div>

<div id="paymentID">
    <input type="button" value="提现" class="paybtn">
</div>


