 <div data-role="header" class="mod-list-header">
    <h1>提成统计</h1>
    <a href="#/moban" data-rel="back" data-icon="back-icon" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">返回</a>
    
</div>
 


<div role="main" class="mod-common-list" id="workrightone">
    <ul class="ui-nodisc-icon m-t-10" data-role="listview">
        <li data-icon="false">
                <label class="red">账户总额:</label>
                <p class="right-time">5,000,000 元</p>
        </li>
        <li data-icon="false">
                <label class="red">尚未到帐金额:</label>
                <p class="right-time"> 3,000,000 元</p>
        </li>
    </ul>
    
</div>

<div class="count_description_p">
    <p>金额一般会在成单15天以后到账</p>
</div>

<div role="main" class="mod-common-list" id="workrighttwo">
    <ul class="ui-nodisc-icon m-t-10" data-role="listview">
        <li data-icon="false">
                <label class="red">可提现金额:</label>
                <p class="right-time">5,000,000 元</p>
        </li>
    </ul>
</div>

<div id="paymentID">
    <input type="button" value="提现" class="paybtn">
</div>


