<div data-role="header" data-position="fixed" class="mod-list-header ui-header ui-bar-inherit ui-header-fixed slidedown ui-fixed-hidden" role="banner">
    <h1 class="ui-title" role="heading" aria-level="1">数据统计</h1>

    <a id="back" href="javascript:;" data-rel="back" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-back-l ui-btn-icon-notext ui-corner-all" data-role="button" role="button">返回</a>
</div>
<nav class="mod_list_nav">
    <a href="#/chat_list" class="current">产品浏览量排行</a>
    <a href="#/chat_view">产品咨询量排行</a>
</nav>

<div role="main" class="mod-common-list" id="data_statistics">
    <ul class="view" data-role="listview">
        <li class="title-line">
            <span class="rank-0">排行</span>
            <span class="rank-1">产品名</span>
            <span class="rank-2">咨询量</span>
        </li>
        <li class="top-one">
            <span class="rank-0">1</span>
            <span class="rank-1">北京五星级钻酒店 至尊双岛赠温泉
            北京五星级钻酒店 至尊双岛赠温泉
            北京五星级钻酒店 至尊双岛赠温泉
            北京五星级钻酒店 至尊双岛赠温泉</span>
            <span class="rank-2">300</span>
        </li>
        <li class="top-two">
            <span class="rank-0">2</span>
            <span class="rank-1">三亚南山五日跟团游</span>
            <span class="rank-2">400</span>
        </li>
        <li class="top-three">
            <span class="rank-0">2</span>
            <span class="rank-1">三亚南山五日跟团游</span>
            <span class="rank-2">400</span>
        </li>
        <li class="top-other">
            <span class="rank-0">2</span>
            <span class="rank-1">三亚南山五日跟团游</span>
            <span class="rank-2">400</span>
        </li>
</div>