<div data-role="header" data-position="fixed" class="mod-list-header ui-header ui-bar-inherit ui-header-fixed slidedown ui-fixed-hidden" role="banner">
    <h1 class="ui-title" role="heading" aria-level="1">编辑收货信息</h1>

    <a id="back" href="javascript:;" data-rel="back" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-back-l ui-btn-icon-notext ui-corner-all" data-role="button" role="button">返回</a>
</div>

<div role="main" class="mod-common-list" id="edit_receiveinfo">
    <ul data-role="listview" class="form-group">
        <li>
            <span>联系人：</span>
            <input name="contacter" class="form-control" type="text" placeholder="点击输入联系人" data-role="none"></li>
        <li>
            <span>手机号：</span>
            <input name="phone" class="form-control" type="tel" placeholder="点击输入手机号" data-role="none"></li>
        <li class="form-control-remark">
            <span>备　注：</span>
            <input name="remark" class="form-control" type="textarea" required="" placeholder="点击输入留言" data-role="none"></li>

    </ul>
</div>
<div class="footer footer-one ">
    <div class="btn-submit ">
        <a class="ui-btn ui-corner-all" href="#/superreport_list">确定</a>
    </div>
</div>