<div data-role="header" class="mod-list-header">
    <h1>订单详情</h1>
    <a id="back" href="javascript:history.go(-1);" data-rel="back" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-back-l ui-btn-icon-notext ui-corner-all" data-role="button" role="button">返回</a>
</div>
<!-- /header -->
<div role="main" class="mod-common-list" id="goods_order_detail_slae" >
    <ul class="ui-nodisc-icon ui-alt-icon m-t-10 view list" data-role="listview">
        <li><div class="clearfix conten">
            <div class="imgbox" style="float:left;">
                <img src="http://1251064102.cdn.myqcloud.com/1251064102/changyi_main/15010602/images/product_addressbook.gif" ></div>
            <h3 class="mt_title js-subject">ssddfffgggg</h3>
            </div>
            <div class="clearfix conten">
            <div class="imgbox" style="float:left;">
                <img src="http://1251064102.cdn.myqcloud.com/1251064102/changyi_main/15010602/images/product_addressbook.gif" ></div>
            <h3 class="mt_title js-subject">ssddfffgggg</h3>
            </div>
        </li>
        <li>
                <p>订单总额： ¥ 987</p>
                <p>订单状态：待付款</p>
                <p>预订时间：2014年11月23日 12：00</p>
            
        </li>
        <li>
            <p>购 买 人：张飞</p>
            <p>联系电话：1387654367</p>
        </li>
        <li>
            <p>卖家电话：14885858686</p>            
        </li>
    </ul>
</div>
<div class="ui-grid-b footer">
    <div class="ui-block-a btn-submit"><a href="#" class="ui-shadow ui-btn ui-corner-all">我的订单</a></div>
    <div class="ui-block-b"><div class="button-wrap"><button class="ui-btn ui-shadow ui-corner-all">立即付款</button></div>
    </div><div class="ui-block-c"><div class="ui-btn ui-input-btn ui-corner-all ui-shadow">取消订单<input type="button" value="Input"></div></div>
</div>