<div data-role="header" class="mod-list-header">
    <h1>我的二维码</h1>
    <a id="back" href="" data-rel="back" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-back-l ui-btn-icon-notext ui-corner-all" data-role="button" role="button">返回</a>

</div>
<!-- /header -->
<div role="main" id="my_qrcode">
    <!--
    <div class="container clearfix">
        <div class="photo">
            <img src="http://img1.cache.netease.com/sports/2009/goal/logo/player/70/50175.jpg" />
        </div>
        <div class="content">
            <div class="div3">张三</div>
            <div class="div2">思密达(北京)信息科技有限公司</div>
        </div>
    </div>
    -->
    <div class="code-box">  
        <img src="<%=qrcode%>">
        <h3 class="h3">长按可保存在本地</h3>
        <p class="p1">二维码有什么用</p>     
    </div>
</div>