/*广禾堂*/
.ui-list .ui-list-action{color:#26a7c7;}
.ui-list-ght .ui-list-img{width: 80px;height: 55px;}
.ui-list-ght .ui-btn{position: relative;margin-top: 5px;left: 0}
.ui-list-ght .ui-list-info{padding-right: 0;}
.ui-grid-trisect{padding-top: 10px;}
.ui-grid-trisect > li {width: 25%;padding: 0 10px 10px 0;}
.ui-grid-trisect-img{height: 28px;padding-top:0 }
.ui-btn{background-color: #f2f2ea;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #f2f2ea), to(#f2f2ea));color:#999;}
.ui-btn-primary{background-color: #26a7c7;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #26a7c7), to(#26a7c7));color:#fff;}
@media screen and (-webkit-min-device-pixel-ratio: 2){.ui-btn-primary:before, .ui-btn:before, .ui-btn-lg:before {border: 1px #bbbbbb dotted;}}
.ui-list-title{text-align: center;color: #26a7c7;border-bottom: 1px #26a7c7 dotted;}
.ui-img-box img{max-width: 100%;}
.ui-top-ght{background-color: #26a7c7;color: #fff;height: 44px;line-height: 44px;padding: 0;}
.ui-conten-ght{padding: 10px;}
.ui-conten-ght h2{font-size: 26px;text-align: center;margin-bottom: 20px;margin-top: 5px;}
.ui-conten-ght p{color:#666;}
.ui-conten-ght .head{margin:10px 0;font-weight: bold;}
.ui-conten-ght .ui-barcode{text-align: center;margin: 30px;margin-bottom: 70px;}
.ui-conten-ght .ui-barcode img{width: 120px;}
.ui-conten-ght .ui-barcode-text{color:#999;font-size: 12px;}
.ui-conten-ght.ui-list .ui-info{position: absolute;bottom: 0;right: 0;}
.ui-conten-ght.ui-list .ui-info .ui-list-info{padding-right: 0;}
.ui-list-ght-item{position: relative;padding: 10px 0;margin-right: 10px;}
.ui-list-ght-item .ui-form-item{height:26px;line-height: 26px;}
.ui-list-ght-item .ui-form-item p{padding-bottom: 0;padding-top: 0;}
.ui-list-ght-item .ui-label-box{top:20px;}