
<!--确认删除部门-->
<div class="dialog_box modal-content">
    <div class="modal-header contacts-img">
        <button type="button" class="close" aria-hidden="true" data-ng-click="$close()">×</button>
        <h4 class="modal-title">删除部门</h4>
    </div>
    <div class="dialog_content js_dialog_content">
        <div class="dialog_tip warning">
            <div class="tip_text">
                <div class="tip_text_title">
                    <img src="/admincp/static/images/warm.jpg"/>部门下存在子部门或人员！</div>
                <div class="tip_text_detail">请删除所有子部门或人员后再进行操作。</div>
            </div>
        </div>
    </div>
    <div class="props-foot-right tag-clear">
        <button type="submit" name="btn_submit" class="btn btn-info" data-ng-click="$close()">确认</button>
    </div>
</div>