<!-- 删除的二次确认 -->
<div class="modal-header">
    <button type="button" class="close" data-ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">&nbsp;</h4>
</div>
<div class="modal-body text-center">
    确定要删除该班次吗？一旦删除数据不可恢复！
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="$dismiss()">取消</button>
    <button type="button" class="btn btn-info"  data-ng-click="$close()">确定</button>
</div>