.comment-name {
  font-size: 1em;
}
.comment-replay {
  padding: 0 .156rem;
  font-size: .875em;
}
.comment-timestamp,
.comment-content {
  font-size: .75em;
  color: #999999;
}
.comment-timestamp {
  padding-top: .156rem;
}
.cc-wrap {
  width: 6rem;
}
.comment-input-wrap,
.comment-btn-wrap {
  display: inline-block;
  vertical-align: middle;
}
.comment-input-wrap {
  width: 7.5rem;
  padding: 0 .125rem ;
}
